<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" contents="text/html; charset=UTF-8" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">

        function ajaxSubReturnObject() {
            alert("发送Ajax请求....");
            /* AJAX返回单个对象JSON */
             $.ajax({
             url: "/ajaxReturnObject",
             data: {
             username: "xxx"
             },
             type: "get",
             dataType: "json",
             success: function (obj) {
             alert(obj);
             $("#usernamediv").text(obj);
             alert(obj.name);
             alert(obj.sex);
             alert(obj.address);
             alert(obj.job);
             }
             });
        }

        function ajaxSubReturnObjectList() {
            alert("发送Ajax请求....");
            /* AJAX返回对象LIST JSON */
            $.ajax({
                url: "/ajaxReturnObjectList",
                data: {
                    username: "xxx"
                },
                type: "get",
                dataType: "json",
                success: function (obj) {
                    $("#usernamediv").text(obj);
                    $.each(obj,function(idx,item){
                        alert(item.info);
                    });
                }
            });
        }


    </script>


</head>

<body>

    <p th:text="'Hello！, ' + ${name} + '!'" >3333</p>
    <a th:href="@{http://blog.csdn.net/u012706811}">绝对路径</a>
    <a th:href="@{/templates/hello.html}">相对路径</a>
    <a th:href="@{css/bootstrap.min.css}">Content路径,默认访问static下的css文件夹</a>

    <br/>

    <form action="/add"  method="post">
        <input type="text" name="info" />
        <input type="submit" />
    </form>

    <br/>

    <form action="/showList"  method="post">
        <input type="text" name="info" />
        <input type="submit" value="展现列表"/>
    </form>

    <br/>

    <input type="button" onclick="javascript:ajaxSubReturnObject();"  value="Ajax 返回对象列表"/>

    <input type="button" onclick="javascript:ajaxSubReturnObjectList();"  value="Ajax 返回对象列表"/>

    <br/>

    <div class="panel panel-primary">
        <div class="panel-heading">hello</div>
        <div class="panel-body" th:text="${xname}"></div>
        </div>
    <div class="panel panel-warning">
        <div class="panel-heading">hello</div>
        <div id="usernamediv" class="panel-body"></div>
    </div>

</body>
</html>